# Pandas

ใช้จัดการข้อมูล คำนวนข้อมูล ที่อยู่ในรูปแบบบตาราง ทั้ง excel, csv, tsv เป็นพื้นฐานของการจัดการข้อมูล และการวิเคราะห์ข้อมูล

## นำเข้าเครื่องมือ

In [2]:
import pandas as pd

## เปิดไฟล์ด้วยการระบุ ตำแหน่งไฟล์

ไฟล์ object ที่เปิดด้วย pandas จะเรียกว่า DataFrame

In [15]:
table = pd.read_excel('excel/East.xlsx')
table.set_index('Product',inplace=True)

In [16]:
table

                        Qtr1  Qtr2  Qtr3  Qtr4
Product
Basil Leaf (Whole)      9555  5975  5595  9659
Celery Seed (Whole)     7543  7346  3466  7474
Catnip Leaf              854   364   474   743
Cardamom Seed (Ground)   844   848   457   744
Anise Seeds              734   457   327   235
Asafoetida Powder        688   468   874   568
Caraway Seed (Whole)     676   856   855   866
Bay Leaf (Whole)         667   799   750   575
Chamomile Flowers        553   474   632   474
East Special             400   751   985  1450
Cardamom Seed (Whole)    379   375   377   745

## แต่งตั้ง index

Pandas จะให้ความสำคัญกับชื่อ column, row มากๆ เพราะใช้จัดการ เข้าถึงข้อมูล

In [7]:
table = table.set_index('Product')
table

                        Qtr1  Qtr2  Qtr3  Qtr4
Product
Basil Leaf (Whole)      9555  5975  5595  9659
Celery Seed (Whole)     7543  7346  3466  7474
Catnip Leaf              854   364   474   743
Cardamom Seed (Ground)   844   848   457   744
Anise Seeds              734   457   327   235
Asafoetida Powder        688   468   874   568
Caraway Seed (Whole)     676   856   855   866
Bay Leaf (Whole)         667   799   750   575
Chamomile Flowers        553   474   632   474
East Special             400   751   985  1450
Cardamom Seed (Whole)    379   375   377   745

In [33]:
table['Qtr1']['Basil Leaf (Whole)']

9555

In [35]:
table.loc['Basil Leaf (Whole)']['Qtr1']

9555

## ดึงข้อมูล

ดึง column จะได้เป็นประเภท Series

In [20]:
table[['Qtr1','Qtr2']]

                        Qtr1  Qtr2
Product
Basil Leaf (Whole)      9555  5975
Celery Seed (Whole)     7543  7346
Catnip Leaf              854   364
Cardamom Seed (Ground)   844   848
Anise Seeds              734   457
Asafoetida Powder        688   468
Caraway Seed (Whole)     676   856
Bay Leaf (Whole)         667   799
Chamomile Flowers        553   474
East Special             400   751
Cardamom Seed (Whole)    379   375

ดึง row จะได้เป็นประเภท Series

In [23]:
table.loc[['Anise Seeds','Catnip Leaf']]

             Qtr1  Qtr2  Qtr3  Qtr4
Product
Anise Seeds   734   457   327   235
Catnip Leaf   854   364   474   743

ดึง cell ใช้การดึง 2 รอบ column >> row หรือ row >> column

In [26]:
table['Qtr2']['Celery Seed (Whole)']

7346

## ดึงหลายตำแหน่ง

ดึงข้อมูลเป็นช่วง

In [27]:
table

                        Qtr1  Qtr2  Qtr3  Qtr4
Product
Basil Leaf (Whole)      9555  5975  5595  9659
Celery Seed (Whole)     7543  7346  3466  7474
Catnip Leaf              854   364   474   743
Cardamom Seed (Ground)   844   848   457   744
Anise Seeds              734   457   327   235
Asafoetida Powder        688   468   874   568
Caraway Seed (Whole)     676   856   855   866
Bay Leaf (Whole)         667   799   750   575
Chamomile Flowers        553   474   632   474
East Special             400   751   985  1450
Cardamom Seed (Whole)    379   375   377   745

In [30]:
table.loc[['Basil Leaf (Whole)','Cardamom Seed (Ground)'],'Qtr2']

Product
Basil Leaf (Whole)        5975
Cardamom Seed (Ground)     848
Name: Qtr2, dtype: int64

In [28]:
table.loc['Basil Leaf (Whole)':'Catnip Leaf','Qtr1':'Qtr4']

                     Qtr1  Qtr2  Qtr3  Qtr4
Product
Basil Leaf (Whole)   9555  5975  5595  9659
Celery Seed (Whole)  7543  7346  3466  7474
Catnip Leaf           854   364   474   743

เลือกดึงข้อมูล

In [29]:
table.loc[['Basil Leaf (Whole)','Catnip Leaf'],['Qtr1','Qtr4']]

                    Qtr1  Qtr4
Product
Basil Leaf (Whole)  9555  9659
Catnip Leaf          854   743

## ดึงหลายตำแหน่ง ด้วยตำแหน่ง

ดึงข้อมูลเป็นช่วง

In [37]:
table.iloc[0:2,0:3]

                     Qtr1  Qtr2  Qtr3
Product
Basil Leaf (Whole)   9555  5975  5595
Celery Seed (Whole)  7543  7346  3466

เลือกดึงข้อมูล

In [38]:
table.iloc[[0,2],[0,3]]

                    Qtr1  Qtr4
Product
Basil Leaf (Whole)  9555  9659
Catnip Leaf          854   743

## ดึงข้อมูลทั้งหมด

ใช้สัญลักษณ์ :

In [44]:
table.iloc[:,[0,3]]

                        Qtr1  Qtr4
Product
Basil Leaf (Whole)      9555  9659
Celery Seed (Whole)     7543  7474
Catnip Leaf              854   743
Cardamom Seed (Ground)   844   744
Anise Seeds              734   235
Asafoetida Powder        688   568
Caraway Seed (Whole)     676   866
Bay Leaf (Whole)         667   575
Chamomile Flowers        553   474
East Special             400  1450
Cardamom Seed (Whole)    379   745

## บันทึกข้อมูล

บันทึก DataFrame เป็นไฟล์ excel ด้วยการระบุชื่อไฟล์ และตำแหน่ง

In [ ]:
table.to_excel('new_excel.xlsx')