# Pandas

มีการคำนวน ที่จับคู่ column, row ต้องมีการ fill_value=0 เพื่อจัดการข้อมูลที่ขาดหาย

## นำเข้าเครื่องมือ

In [1]:
import pandas as pd

## DataFrame ที่ใช้

ไฟล์ object ที่เปิดด้วย pandas จะเรียกว่า DataFrame

In [2]:
east = pd.read_excel('excel/East.xlsx').set_index('Product')
south = pd.read_excel('excel/South.xlsx').set_index('Product')

## คำนวนระหว่างข้อมูล

Pandas จะให้ความสำคัญกับชื่อ column, row มากๆ เพราะใช้จัดการ เข้าถึงข้อมูล

In [4]:
east_q1 = east['Qtr1']
south_q1 = south['Qtr1']

Column

In [10]:
east_q1.add(south_q1,fill_value=0)

Product
Anise Seeds                1567.0
Asafoetida Powder          1441.0
Basil Leaf (Whole)        18121.0
Bay Leaf (Whole)           1244.0
Caraway Seed (Whole)       1530.0
Cardamom Seed (Ground)     1666.0
Cardamom Seed (Whole)       736.0
Catnip Leaf                1708.0
Celery Seed (Whole)       15875.0
Chamomile Flowers           925.0
East Special                400.0
South Special              4215.0
Name: Qtr1, dtype: float64

DataFrame

In [9]:
east.add(south,fill_value=0)

                           Qtr1     Qtr2     Qtr3     Qtr4
Product
Anise Seeds              1567.0   1190.0   1392.0   1433.0
Asafoetida Powder        1441.0   1312.0   1898.0   1725.0
Basil Leaf (Whole)      18121.0  15531.0  14149.0  17545.0
Bay Leaf (Whole)         1244.0   1654.0   1594.0   1309.0
Caraway Seed (Whole)     1530.0   1822.0   1528.0   1621.0
Cardamom Seed (Ground)   1666.0   1431.0   1290.0   1578.0
Cardamom Seed (Whole)     736.0   1108.0   1130.0   1377.0
Catnip Leaf              1708.0    728.0    948.0   1476.0
Celery Seed (Whole)     15875.0  15718.0  10893.0  13257.0
Chamomile Flowers         925.0   1316.0   1097.0    840.0
East Special              400.0    751.0    985.0   1450.0
South Special            4215.0   1245.0   3562.0   2154.0

ตัวเลข

In [13]:
east * 10

                         Qtr1   Qtr2   Qtr3   Qtr4
Product
Basil Leaf (Whole)      95550  59750  55950  96590
Celery Seed (Whole)     75430  73460  34660  74740
Catnip Leaf              8540   3640   4740   7430
Cardamom Seed (Ground)   8440   8480   4570   7440
Anise Seeds              7340   4570   3270   2350
Asafoetida Powder        6880   4680   8740   5680
Caraway Seed (Whole)     6760   8560   8550   8660
Bay Leaf (Whole)         6670   7990   7500   5750
Chamomile Flowers        5530   4740   6320   4740
East Special             4000   7510   9850  14500
Cardamom Seed (Whole)    3790   3750   3770   7450

## คำนวนใน DataFrame

หาผลรวม  row

In [17]:
east.sum(axis=1)

Product
Basil Leaf (Whole)        30784
Celery Seed (Whole)       25829
Catnip Leaf                2435
Cardamom Seed (Ground)     2893
Anise Seeds                1753
Asafoetida Powder          2598
Caraway Seed (Whole)       3253
Bay Leaf (Whole)           2791
Chamomile Flowers          2133
East Special               3586
Cardamom Seed (Whole)      1876
dtype: int64

In [14]:
east.sum(axis=0)

Qtr1    22893
Qtr2    18713
Qtr3    14792
Qtr4    23533
dtype: int64

หาผลรวม column

In [15]:
east.sum(axis=1)

Product
Basil Leaf (Whole)        30784
Celery Seed (Whole)       25829
Catnip Leaf                2435
Cardamom Seed (Ground)     2893
Anise Seeds                1753
Asafoetida Powder          2598
Caraway Seed (Whole)       3253
Bay Leaf (Whole)           2791
Chamomile Flowers          2133
East Special               3586
Cardamom Seed (Whole)      1876
dtype: int64