## ประเภทไฟล์

นำเข้าเครื่องมือ

In [1]:
import os

In [2]:
from file_management import get_files

ประเภทไฟล์

In [3]:
import pandas as pd

In [9]:
north = pd.read_csv('excel/North.csv',index_col=[0])
north.head(5)

                     Qtr1  Qtr2  Qtr3  Qtr4
Product
Basil Leaf (Whole)   6778  6760  4568  7834
Celery Seed (Whole)  3634  6344  6423  2546
North Special         875  1452   254  2451
Catnip Leaf           854   364   474   743
Asafoetida Powder     654   634   326   754

In [7]:
east = pd.read_excel('excel/East.xlsx',index_col=[0])
east.head(5)

                        Qtr1  Qtr2  Qtr3  Qtr4
Product
Basil Leaf (Whole)      9555  5975  5595  9659
Celery Seed (Whole)     7543  7346  3466  7474
Catnip Leaf              854   364   474   743
Cardamom Seed (Ground)   844   848   457   744
Anise Seeds              734   457   327   235

In [10]:
#ใส่ชื่อไฟล์
os.path.splitext('North.xlsx')[-1]

'.xlsx'

## get_type()

In [11]:
def get_type(file):
    file_type = os.path.splitext(file)[-1]
    return file_type

## เปิดไฟล์ Excel และตั้งค่า Index

นำเข้าเครื่องมือ

In [1]:
import pandas as pd

เปิดไฟล์

In [6]:
east_table = pd.read_excel('excel/East.xlsx').set_index('Product')
east_table

                        Qtr1  Qtr2  Qtr3  Qtr4
Product
Basil Leaf (Whole)      9555  5975  5595  9659
Celery Seed (Whole)     7543  7346  3466  7474
Catnip Leaf              854   364   474   743
Cardamom Seed (Ground)   844   848   457   744
Anise Seeds              734   457   327   235
Asafoetida Powder        688   468   874   568
Caraway Seed (Whole)     676   856   855   866
Bay Leaf (Whole)         667   799   750   575
Chamomile Flowers        553   474   632   474
East Special             400   751   985  1450
Cardamom Seed (Whole)    379   375   377   745

## เปิดไฟล์ csv และตั้งค่า Index

In [7]:
north_table = pd.read_csv('excel/North.csv').set_index('Product')
north_table

                        Qtr1  Qtr2  Qtr3  Qtr4
Product
Basil Leaf (Whole)      6778  6760  4568  7834
Celery Seed (Whole)     3634  6344  6423  2546
North Special            875  1452   254  2451
Catnip Leaf              854   364   474   743
Asafoetida Powder        654   634   326   754
Anise Seeds              534   423   521   625
Cardamom Seed (Ground)   422   642   642   624
Chamomile Flowers        356   634   632   743
Caraway Seed (Whole)     354   633   422   255
Cardamom Seed (Whole)    255   525   252   624
Bay Leaf (Whole)         233   532   525   652

## สร้างที่อยู่ไฟล์

In [14]:
path = r'C:\Users\acer\Desktop\Bootcamp\Class 3\excel'

In [16]:
file_list = get_files(path)

## ทำงานกับทุกไฟล์

For Loop ทำงานกับ ไฟล์ทั้งหมด

In [12]:
for file in file_list:
    print(file)

East.xlsx
North.csv
South.xlsx
West.xlsx

ดูประเภทไฟล์จากไฟล์

In [18]:
for file in file_list:
    print(get_type(file))

.xlsx
.csv
.xlsx
.xlsx

In [24]:
file_list

['East.xlsx', 'North.csv', 'South.xlsx', 'West.xlsx']

In [25]:
get_data(file_list)

[                        Qtr1  Qtr2  Qtr3  Qtr4
 Product
 Basil Leaf (Whole)      9555  5975  5595  9659
 Celery Seed (Whole)     7543  7346  3466  7474
 Catnip Leaf              854   364   474   743
 Cardamom Seed (Ground)   844   848   457   744
 Anise Seeds              734   457   327   235
 Asafoetida Powder        688   468   874   568
 Caraway Seed (Whole)     676   856   855   866
 Bay Leaf (Whole)         667   799   750   575
 Chamomile Flowers        553   474   632   474
 East Special             400   751   985  1450
 Cardamom Seed (Whole)    379   375   377   745,
                         Qtr1  Qtr2  Qtr3  Qtr4
 Product
 Basil Leaf (Whole)      6778  6760  4568  7834
 Celery Seed (Whole)     3634  6344  6423  2546
 North Special            875  1452   254  2451
 Catnip Leaf              854   364   474   743
 Asafoetida Powder        654   634   326   754
 Anise Seeds              534   423   521   625
 Cardamom Seed (Ground)   422   642   642   624
 Chamomile Flowers        356   634   632   743
 Caraway Seed (Whole)     354   633   422   255
 Cardamom Seed (Whole)    255   525   252   624
 Bay Leaf (Whole)         233   532   525   652,
                         Qtr1  Qtr2  Qtr3  Qtr4
 Product
 Basil Leaf (Whole)      8566  9556  8554  7886
 Celery Seed (Whole)     8332  8372  7427  5783
 South Special           4215  1245  3562  2154
 Caraway Seed (Whole)     854   966   673   755
 Catnip Leaf              854   364   474   733
 Anise Seeds              833   733  1065  1198
 Cardamom Seed (Ground)   822   583   833   834
 Asafoetida Powder        753   844  1024  1157
 Bay Leaf (Whole)         577   855   844   734
 Chamomile Flowers        372   842   465   366
 Cardamom Seed (Whole)    357   733   753   632,
                         Qtr1  Qtr2  Qtr3  Qtr4
 Product
 Basil Leaf (Whole)      4884  6460  4761  7738
 Celery Seed (Whole)     4723  6375  6381  2321
 Catnip Leaf              885   374   448   731
 Anise Seeds              624   501   554   618
 Asafoetida Powder        579   589   329   729
 Chamomile Flowers        489   641   594   626
 West Special             457   358   658   842
 Cardamom Seed (Ground)   401   687   629   602
 Caraway Seed (Whole)     379   629   418   236
 Bay Leaf (Whole)         296   594   501   646
 Cardamom Seed (Whole)    286   566   236   618]

In [23]:
def get_data(file_list):
    data_list = []
    for file in file_list:
        file_type = get_type(file)
        file_path = os.path.join(path,file)
        if file_type == '.csv':
            data = pd.read_csv(file_path,index_col=[0])
            data_list.append(data)
        elif file_type == '.xlsx':
            data = pd.read_excel(file_path,index_col=[0])
            data_list.append(data)
    return data_list

In [29]:
def sum_all(data_list):
    sum_result = pd.DataFrame()
    for data in data_list:
        sum_result = sum_result.add(data,fill_value=0)
    return sum_result

In [42]:
sum_result = sum_all(data_list)

In [43]:
def column_sum(sum_result):
    sum_result['Total Qtr'] = sum_result.sum(axis=1)
    sum_result.loc['Total Product'] = sum_result.sum(axis=0)

In [44]:
column_sum(sum_result)

In [46]:
sum_result.to_excel('Result.xlsx')

In [21]:
data_list

[                        Qtr1  Qtr2  Qtr3  Qtr4
 Product
 Basil Leaf (Whole)      9555  5975  5595  9659
 Celery Seed (Whole)     7543  7346  3466  7474
 Catnip Leaf              854   364   474   743
 Cardamom Seed (Ground)   844   848   457   744
 Anise Seeds              734   457   327   235
 Asafoetida Powder        688   468   874   568
 Caraway Seed (Whole)     676   856   855   866
 Bay Leaf (Whole)         667   799   750   575
 Chamomile Flowers        553   474   632   474
 East Special             400   751   985  1450
 Cardamom Seed (Whole)    379   375   377   745,
                         Qtr1  Qtr2  Qtr3  Qtr4
 Product
 Basil Leaf (Whole)      6778  6760  4568  7834
 Celery Seed (Whole)     3634  6344  6423  2546
 North Special            875  1452   254  2451
 Catnip Leaf              854   364   474   743
 Asafoetida Powder        654   634   326   754
 Anise Seeds              534   423   521   625
 Cardamom Seed (Ground)   422   642   642   624
 Chamomile Flowers        356   634   632   743
 Caraway Seed (Whole)     354   633   422   255
 Cardamom Seed (Whole)    255   525   252   624
 Bay Leaf (Whole)         233   532   525   652,
                         Qtr1  Qtr2  Qtr3  Qtr4
 Product
 Basil Leaf (Whole)      8566  9556  8554  7886
 Celery Seed (Whole)     8332  8372  7427  5783
 South Special           4215  1245  3562  2154
 Caraway Seed (Whole)     854   966   673   755
 Catnip Leaf              854   364   474   733
 Anise Seeds              833   733  1065  1198
 Cardamom Seed (Ground)   822   583   833   834
 Asafoetida Powder        753   844  1024  1157
 Bay Leaf (Whole)         577   855   844   734
 Chamomile Flowers        372   842   465   366
 Cardamom Seed (Whole)    357   733   753   632,
                         Qtr1  Qtr2  Qtr3  Qtr4
 Product
 Basil Leaf (Whole)      4884  6460  4761  7738
 Celery Seed (Whole)     4723  6375  6381  2321
 Catnip Leaf              885   374   448   731
 Anise Seeds              624   501   554   618
 Asafoetida Powder        579   589   329   729
 Chamomile Flowers        489   641   594   626
 West Special             457   358   658   842
 Cardamom Seed (Ground)   401   687   629   602
 Caraway Seed (Whole)     379   629   418   236
 Bay Leaf (Whole)         296   594   501   646
 Cardamom Seed (Whole)    286   566   236   618]

สร้างที่อยู่ไฟล์

In [19]:
path = os.path.join(os.getcwd(),'excel')
for file in file_list:
    print(os.path.join(path,file))

C:\Users\acer\Desktop\Bootcamp\Class 3\excel\East.xlsx
C:\Users\acer\Desktop\Bootcamp\Class 3\excel\North.csv
C:\Users\acer\Desktop\Bootcamp\Class 3\excel\South.xlsx
C:\Users\acer\Desktop\Bootcamp\Class 3\excel\West.xlsx

## เปิดไฟล์ทุกไฟล์

In [44]:
path = os.path.join(os.getcwd(),'excel')
for file in file_list:
    file_path = os.path.join(path,file)
    file_type = os.path.splitext(file_path)[1]
    if file_type == '.csv':
        print(pd.read_csv(file_path).set_index('Product'))
    elif file_type == '.xlsx':
        print(pd.read_excel(file_path).set_index('Product'))

                        Qtr1  Qtr2  Qtr3  Qtr4
Product
Basil Leaf (Whole)      9555  5975  5595  9659
Celery Seed (Whole)     7543  7346  3466  7474
Catnip Leaf              854   364   474   743
Cardamom Seed (Ground)   844   848   457   744
Anise Seeds              734   457   327   235
Asafoetida Powder        688   468   874   568
Caraway Seed (Whole)     676   856   855   866
Bay Leaf (Whole)         667   799   750   575
Chamomile Flowers        553   474   632   474
East Special             400   751   985  1450
Cardamom Seed (Whole)    379   375   377   745
                        Qtr1  Qtr2  Qtr3  Qtr4
Product
Basil Leaf (Whole)      6778  6760  4568  7834
Celery Seed (Whole)     3634  6344  6423  2546
North Special            875  1452   254  2451
Catnip Leaf              854   364   474   743
Asafoetida Powder        654   634   326   754
Anise Seeds              534   423   521   625
Cardamom Seed (Ground)   422   642   642   624
Chamomile Flowers        356   634   632   743
Caraway Seed (Whole)     354   633   422   255
Cardamom Seed (Whole)    255   525   252   624
Bay Leaf (Whole)         233   532   525   652
                        Qtr1  Qtr2  Qtr3  Qtr4
Product
Basil Leaf (Whole)      8566  9556  8554  7886
Celery Seed (Whole)     8332  8372  7427  5783
South Special           4215  1245  3562  2154
Caraway Seed (Whole)     854   966   673   755
Catnip Leaf              854   364   474   733
Anise Seeds              833   733  1065  1198
Cardamom Seed (Ground)   822   583   833   834
Asafoetida Powder        753   844  1024  1157
Bay Leaf (Whole)         577   855   844   734
Chamomile Flowers        372   842   465   366
Cardamom Seed (Whole)    357   733   753   632
                        Qtr1  Qtr2  Qtr3  Qtr4
Product
Basil Leaf (Whole)      4884  6460  4761  7738
Celery Seed (Whole)     4723  6375  6381  2321
Catnip Leaf              885   374   448   731
Anise Seeds              624   501   554   618
Asafoetida Powder        579   589   329   729
Chamomile Flowers        489   641   594   626
West Special             457   358   658   842
Cardamom Seed (Ground)   401   687   629   602
Caraway Seed (Whole)     379   629   418   236
Bay Leaf (Whole)         296   594   501   646
Cardamom Seed (Whole)    286   566   236   618

## บันทึกข้อมูลลง List

ก่อนเปลี่ยนเป็น function ลองมาดูว่าเราใส่ข้อมูลอะไรบ้าง

In [42]:
#ใส่ที่อยู่ของไฟล์
path = os.path.join(os.getcwd(),'excel')
data_list = []
#ใส่ไฟล์
for file in file_list:
    file_path = os.path.join(path,file)
    file_type = os.path.splitext(file_path)[1]
    if file_type == '.csv':
        #ใส่ข้อมูล index
        data = pd.read_csv(file_path).set_index('Product')
    elif file_type == '.xlsx':
        #ใส่ข้อมูล index
        data = pd.read_excel(file_path).set_index('Product')
    data_list.append(data)

## get_data()

การเปลี่ยนเป็นฟังก์ชัน

In [47]:
from file_management import get_files

In [51]:
#ใส่ที่อยู่ของไฟล์
target_folder = os.path.join(os.getcwd(),'excel')
file_list = get_files(target_folder)

def get_data(file_list,index):
    data_list = []
    #ใส่ไฟล์
    for file in file_list:
        file_path = os.path.join(target_folder,file)
        file_type = os.path.splitext(file_path)[1]
        if file_type == '.csv':
            #ใส่ข้อมูล index
            data = pd.read_csv(file_path).set_index(index)
        elif file_type == '.xlsx':
            #ใส่ข้อมูล index
            data = pd.read_excel(file_path).set_index(index)
        data_list.append(data)
    return data_list

data_list = get_data(file_list,'Product')
data_list

[                        Qtr1  Qtr2  Qtr3  Qtr4
 Product
 Basil Leaf (Whole)      9555  5975  5595  9659
 Celery Seed (Whole)     7543  7346  3466  7474
 Catnip Leaf              854   364   474   743
 Cardamom Seed (Ground)   844   848   457   744
 Anise Seeds              734   457   327   235
 Asafoetida Powder        688   468   874   568
 Caraway Seed (Whole)     676   856   855   866
 Bay Leaf (Whole)         667   799   750   575
 Chamomile Flowers        553   474   632   474
 East Special             400   751   985  1450
 Cardamom Seed (Whole)    379   375   377   745,
                         Qtr1  Qtr2  Qtr3  Qtr4
 Product
 Basil Leaf (Whole)      6778  6760  4568  7834
 Celery Seed (Whole)     3634  6344  6423  2546
 North Special            875  1452   254  2451
 Catnip Leaf              854   364   474   743
 Asafoetida Powder        654   634   326   754
 Anise Seeds              534   423   521   625
 Cardamom Seed (Ground)   422   642   642   624
 Chamomile Flowers        356   634   632   743
 Caraway Seed (Whole)     354   633   422   255
 Cardamom Seed (Whole)    255   525   252   624
 Bay Leaf (Whole)         233   532   525   652,
                         Qtr1  Qtr2  Qtr3  Qtr4
 Product
 Basil Leaf (Whole)      8566  9556  8554  7886
 Celery Seed (Whole)     8332  8372  7427  5783
 South Special           4215  1245  3562  2154
 Caraway Seed (Whole)     854   966   673   755
 Catnip Leaf              854   364   474   733
 Anise Seeds              833   733  1065  1198
 Cardamom Seed (Ground)   822   583   833   834
 Asafoetida Powder        753   844  1024  1157
 Bay Leaf (Whole)         577   855   844   734
 Chamomile Flowers        372   842   465   366
 Cardamom Seed (Whole)    357   733   753   632,
                         Qtr1  Qtr2  Qtr3  Qtr4
 Product
 Basil Leaf (Whole)      4884  6460  4761  7738
 Celery Seed (Whole)     4723  6375  6381  2321
 Catnip Leaf              885   374   448   731
 Anise Seeds              624   501   554   618
 Asafoetida Powder        579   589   329   729
 Chamomile Flowers        489   641   594   626
 West Special             457   358   658   842
 Cardamom Seed (Ground)   401   687   629   602
 Caraway Seed (Whole)     379   629   418   236
 Bay Leaf (Whole)         296   594   501   646
 Cardamom Seed (Whole)    286   566   236   618]

## นำข้อมูลทั้งหมดออกมา

In [55]:
for data in data_list:
    print(data)

                        Qtr1  Qtr2  Qtr3  Qtr4
Product
Basil Leaf (Whole)      9555  5975  5595  9659
Celery Seed (Whole)     7543  7346  3466  7474
Catnip Leaf              854   364   474   743
Cardamom Seed (Ground)   844   848   457   744
Anise Seeds              734   457   327   235
Asafoetida Powder        688   468   874   568
Caraway Seed (Whole)     676   856   855   866
Bay Leaf (Whole)         667   799   750   575
Chamomile Flowers        553   474   632   474
East Special             400   751   985  1450
Cardamom Seed (Whole)    379   375   377   745
                        Qtr1  Qtr2  Qtr3  Qtr4
Product
Basil Leaf (Whole)      6778  6760  4568  7834
Celery Seed (Whole)     3634  6344  6423  2546
North Special            875  1452   254  2451
Catnip Leaf              854   364   474   743
Asafoetida Powder        654   634   326   754
Anise Seeds              534   423   521   625
Cardamom Seed (Ground)   422   642   642   624
Chamomile Flowers        356   634   632   743
Caraway Seed (Whole)     354   633   422   255
Cardamom Seed (Whole)    255   525   252   624
Bay Leaf (Whole)         233   532   525   652
                        Qtr1  Qtr2  Qtr3  Qtr4
Product
Basil Leaf (Whole)      8566  9556  8554  7886
Celery Seed (Whole)     8332  8372  7427  5783
South Special           4215  1245  3562  2154
Caraway Seed (Whole)     854   966   673   755
Catnip Leaf              854   364   474   733
Anise Seeds              833   733  1065  1198
Cardamom Seed (Ground)   822   583   833   834
Asafoetida Powder        753   844  1024  1157
Bay Leaf (Whole)         577   855   844   734
Chamomile Flowers        372   842   465   366
Cardamom Seed (Whole)    357   733   753   632
                        Qtr1  Qtr2  Qtr3  Qtr4
Product
Basil Leaf (Whole)      4884  6460  4761  7738
Celery Seed (Whole)     4723  6375  6381  2321
Catnip Leaf              885   374   448   731
Anise Seeds              624   501   554   618
Asafoetida Powder        579   589   329   729
Chamomile Flowers        489   641   594   626
West Special             457   358   658   842
Cardamom Seed (Ground)   401   687   629   602
Caraway Seed (Whole)     379   629   418   236
Bay Leaf (Whole)         296   594   501   646
Cardamom Seed (Whole)    286   566   236   618

## นำข้อมูลมาบวกกัน

In [59]:
sum_result = pd.DataFrame()
sum_result = sum_result.add(data_list[0],fill_value=0)
sum_result

                          Qtr1    Qtr2    Qtr3    Qtr4
Product
Basil Leaf (Whole)      9555.0  5975.0  5595.0  9659.0
Celery Seed (Whole)     7543.0  7346.0  3466.0  7474.0
Catnip Leaf              854.0   364.0   474.0   743.0
Cardamom Seed (Ground)   844.0   848.0   457.0   744.0
Anise Seeds              734.0   457.0   327.0   235.0
Asafoetida Powder        688.0   468.0   874.0   568.0
Caraway Seed (Whole)     676.0   856.0   855.0   866.0
Bay Leaf (Whole)         667.0   799.0   750.0   575.0
Chamomile Flowers        553.0   474.0   632.0   474.0
East Special             400.0   751.0   985.0  1450.0
Cardamom Seed (Whole)    379.0   375.0   377.0   745.0

## บวกกันทุกข้อมูล

ก่อนเปลี่ยนเป็น function ลองมาดูว่าเราใส่ข้อมูลอะไรบ้าง

In [61]:
sum_result = pd.DataFrame()
#ใส่ข้อมูลทั้งหมด
for data in data_list:
    sum_result = sum_result.add(data,fill_value=0)
sum_result

                           Qtr1     Qtr2     Qtr3     Qtr4
Product
Anise Seeds              2725.0   2114.0   2467.0   2676.0
Asafoetida Powder        2674.0   2535.0   2553.0   3208.0
Basil Leaf (Whole)      29783.0  28751.0  23478.0  33117.0
Bay Leaf (Whole)         1773.0   2780.0   2620.0   2607.0
Caraway Seed (Whole)     2263.0   3084.0   2368.0   2112.0
Cardamom Seed (Ground)   2489.0   2760.0   2561.0   2804.0
Cardamom Seed (Whole)    1277.0   2199.0   1618.0   2619.0
Catnip Leaf              3447.0   1466.0   1870.0   2950.0
Celery Seed (Whole)     24232.0  28437.0  23697.0  18124.0
Chamomile Flowers        1770.0   2591.0   2323.0   2209.0
East Special              400.0    751.0    985.0   1450.0
North Special             875.0   1452.0    254.0   2451.0
South Special            4215.0   1245.0   3562.0   2154.0
West Special              457.0    358.0    658.0    842.0

## sum_all()

In [63]:
def sum_all(data_list):
    sum_result = pd.DataFrame()
    #ใส่ข้อมูลทั้งหมด
    for data in data_list:
        sum_result = sum_result.add(data,fill_value=0)
    return sum_result

sum_result = sum_all(data_list)
sum_result

                           Qtr1     Qtr2     Qtr3     Qtr4
Product
Anise Seeds              2725.0   2114.0   2467.0   2676.0
Asafoetida Powder        2674.0   2535.0   2553.0   3208.0
Basil Leaf (Whole)      29783.0  28751.0  23478.0  33117.0
Bay Leaf (Whole)         1773.0   2780.0   2620.0   2607.0
Caraway Seed (Whole)     2263.0   3084.0   2368.0   2112.0
Cardamom Seed (Ground)   2489.0   2760.0   2561.0   2804.0
Cardamom Seed (Whole)    1277.0   2199.0   1618.0   2619.0
Catnip Leaf              3447.0   1466.0   1870.0   2950.0
Celery Seed (Whole)     24232.0  28437.0  23697.0  18124.0
Chamomile Flowers        1770.0   2591.0   2323.0   2209.0
East Special              400.0    751.0    985.0   1450.0
North Special             875.0   1452.0    254.0   2451.0
South Special            4215.0   1245.0   3562.0   2154.0
West Special              457.0    358.0    658.0    842.0

## สร้างผลรวม

In [ ]:
#ใส่ข้อมูล sum_result
sum_result['Total Qtr'] = sum_result.sum(axis=1)
sum_result.loc['Total Product'] = sum_result.sum(axis=0)

## Precondition

ข้อควรระวังสำหรับการทำงานกับ function โดยเฉพาะตัวที่เปลี่ยนแปลงข้อมูล คือ ข้อมูลเริ่มต้นไม่เหมือนกัน

In [66]:
sum_result

                           Qtr1     Qtr2     Qtr3     Qtr4  Total Qtr
Product
Anise Seeds              2725.0   2114.0   2467.0   2676.0     9982.0
Asafoetida Powder        2674.0   2535.0   2553.0   3208.0    10970.0
Basil Leaf (Whole)      29783.0  28751.0  23478.0  33117.0   115129.0
Bay Leaf (Whole)         1773.0   2780.0   2620.0   2607.0     9780.0
Caraway Seed (Whole)     2263.0   3084.0   2368.0   2112.0     9827.0
Cardamom Seed (Ground)   2489.0   2760.0   2561.0   2804.0    10614.0
Cardamom Seed (Whole)    1277.0   2199.0   1618.0   2619.0     7713.0
Catnip Leaf              3447.0   1466.0   1870.0   2950.0     9733.0
Celery Seed (Whole)     24232.0  28437.0  23697.0  18124.0    94490.0
Chamomile Flowers        1770.0   2591.0   2323.0   2209.0     8893.0
East Special              400.0    751.0    985.0   1450.0     3586.0
North Special             875.0   1452.0    254.0   2451.0     5032.0
South Special            4215.0   1245.0   3562.0   2154.0    11176.0
West Special              457.0    358.0    658.0    842.0     2315.0
Total Product           78380.0  80523.0  71014.0  79323.0   309240.0

## column_sum()

In [64]:
def column_sum(sum_result):
    sum_result['Total Qtr'] = sum_result.sum(axis=1)
    sum_result.loc['Total Product'] = sum_result.sum(axis=0)
    
column_sum(sum_result)
sum_result

In [65]:
sum_result

                           Qtr1     Qtr2     Qtr3     Qtr4  Total Qtr
Product
Anise Seeds              2725.0   2114.0   2467.0   2676.0     9982.0
Asafoetida Powder        2674.0   2535.0   2553.0   3208.0    10970.0
Basil Leaf (Whole)      29783.0  28751.0  23478.0  33117.0   115129.0
Bay Leaf (Whole)         1773.0   2780.0   2620.0   2607.0     9780.0
Caraway Seed (Whole)     2263.0   3084.0   2368.0   2112.0     9827.0
Cardamom Seed (Ground)   2489.0   2760.0   2561.0   2804.0    10614.0
Cardamom Seed (Whole)    1277.0   2199.0   1618.0   2619.0     7713.0
Catnip Leaf              3447.0   1466.0   1870.0   2950.0     9733.0
Celery Seed (Whole)     24232.0  28437.0  23697.0  18124.0    94490.0
Chamomile Flowers        1770.0   2591.0   2323.0   2209.0     8893.0
East Special              400.0    751.0    985.0   1450.0     3586.0
North Special             875.0   1452.0    254.0   2451.0     5032.0
South Special            4215.0   1245.0   3562.0   2154.0    11176.0
West Special              457.0    358.0    658.0    842.0     2315.0
Total Product           78380.0  80523.0  71014.0  79323.0   309240.0

## บันทึกไฟล์ลงบน Excel

In [ ]:
sum_result.to_excel('Test.xlsx')