In [1]:
import pandas as pd
import os

In [2]:
target_folder = r'C:\Users\acer\Desktop\Bootcamp\Class 3\excel'

In [15]:
from file_management import get_files

In [16]:
file_list = get_files(target_folder)

In [18]:
def get_type(file):
    return os.path.splitext(file)[-1]

In [30]:
table = pd.read_excel(r'C:\Users\acer\Desktop\Bootcamp\Class 3\excel\East.xlsx')
table = table.set_index('Product')
table

                        Qtr1  Qtr2  Qtr3  Qtr4
Product
Basil Leaf (Whole)      9555  5975  5595  9659
Celery Seed (Whole)     7543  7346  3466  7474
Catnip Leaf              854   364   474   743
Cardamom Seed (Ground)   844   848   457   744
Anise Seeds              734   457   327   235
Asafoetida Powder        688   468   874   568
Caraway Seed (Whole)     676   856   855   866
Bay Leaf (Whole)         667   799   750   575
Chamomile Flowers        553   474   632   474
East Special             400   751   985  1450
Cardamom Seed (Whole)    379   375   377   745

In [35]:
def get_data(file_list,target_folder):
    data_list = []
    for file in file_list:
        file_type = get_type(file)
        file_path = os.path.join(target_folder,file)
        if file_type == '.csv':
            data_list.append(pd.read_csv(file_path).set_index('Product'))
        elif file_type == '.xlsx':
            data_list.append(pd.read_excel(file_path).set_index('Product'))
    return data_list

In [37]:
data_list = get_data(file_list,target_folder)
data_list

[                        Qtr1  Qtr2  Qtr3  Qtr4
 Product
 Basil Leaf (Whole)      9555  5975  5595  9659
 Celery Seed (Whole)     7543  7346  3466  7474
 Catnip Leaf              854   364   474   743
 Cardamom Seed (Ground)   844   848   457   744
 Anise Seeds              734   457   327   235
 Asafoetida Powder        688   468   874   568
 Caraway Seed (Whole)     676   856   855   866
 Bay Leaf (Whole)         667   799   750   575
 Chamomile Flowers        553   474   632   474
 East Special             400   751   985  1450
 Cardamom Seed (Whole)    379   375   377   745,
                         Qtr1  Qtr2  Qtr3  Qtr4
 Product
 Basil Leaf (Whole)      6778  6760  4568  7834
 Celery Seed (Whole)     3634  6344  6423  2546
 North Special            875  1452   254  2451
 Catnip Leaf              854   364   474   743
 Asafoetida Powder        654   634   326   754
 Anise Seeds              534   423   521   625
 Cardamom Seed (Ground)   422   642   642   624
 Chamomile Flowers        356   634   632   743
 Caraway Seed (Whole)     354   633   422   255
 Cardamom Seed (Whole)    255   525   252   624
 Bay Leaf (Whole)         233   532   525   652,
                         Qtr1  Qtr2  Qtr3  Qtr4
 Product
 Basil Leaf (Whole)      8566  9556  8554  7886
 Celery Seed (Whole)     8332  8372  7427  5783
 South Special           4215  1245  3562  2154
 Caraway Seed (Whole)     854   966   673   755
 Catnip Leaf              854   364   474   733
 Anise Seeds              833   733  1065  1198
 Cardamom Seed (Ground)   822   583   833   834
 Asafoetida Powder        753   844  1024  1157
 Bay Leaf (Whole)         577   855   844   734
 Chamomile Flowers        372   842   465   366
 Cardamom Seed (Whole)    357   733   753   632,
                         Qtr1  Qtr2  Qtr3  Qtr4
 Product
 Basil Leaf (Whole)      4884  6460  4761  7738
 Celery Seed (Whole)     4723  6375  6381  2321
 Catnip Leaf              885   374   448   731
 Anise Seeds              624   501   554   618
 Asafoetida Powder        579   589   329   729
 Chamomile Flowers        489   641   594   626
 West Special             457   358   658   842
 Cardamom Seed (Ground)   401   687   629   602
 Caraway Seed (Whole)     379   629   418   236
 Bay Leaf (Whole)         296   594   501   646
 Cardamom Seed (Whole)    286   566   236   618]

In [49]:
def sum_all(data_list):
    sum_result = pd.DataFrame()
    for data in data_list:
        sum_result = sum_result.add(data,fill_value=0)
    return sum_result

In [51]:
sum_result = sum_all(data_list)

In [55]:
sum_result

                           Qtr1     Qtr2     Qtr3     Qtr4
Product
Anise Seeds              2725.0   2114.0   2467.0   2676.0
Asafoetida Powder        2674.0   2535.0   2553.0   3208.0
Basil Leaf (Whole)      29783.0  28751.0  23478.0  33117.0
Bay Leaf (Whole)         1773.0   2780.0   2620.0   2607.0
Caraway Seed (Whole)     2263.0   3084.0   2368.0   2112.0
Cardamom Seed (Ground)   2489.0   2760.0   2561.0   2804.0
Cardamom Seed (Whole)    1277.0   2199.0   1618.0   2619.0
Catnip Leaf              3447.0   1466.0   1870.0   2950.0
Celery Seed (Whole)     24232.0  28437.0  23697.0  18124.0
Chamomile Flowers        1770.0   2591.0   2323.0   2209.0
East Special              400.0    751.0    985.0   1450.0
North Special             875.0   1452.0    254.0   2451.0
South Special            4215.0   1245.0   3562.0   2154.0
West Special              457.0    358.0    658.0    842.0

In [57]:
def column_sum(sum_result):
    sum_result['Total Year'] = sum_result.sum(axis=1)
    sum_result.loc['Total Product'] = sum_result.sum(axis=0)

In [59]:
column_sum(sum_result)

In [60]:
sum_result

                           Qtr1     Qtr2     Qtr3     Qtr4  Total Year
Product
Anise Seeds              2725.0   2114.0   2467.0   2676.0      9982.0
Asafoetida Powder        2674.0   2535.0   2553.0   3208.0     10970.0
Basil Leaf (Whole)      29783.0  28751.0  23478.0  33117.0    115129.0
Bay Leaf (Whole)         1773.0   2780.0   2620.0   2607.0      9780.0
Caraway Seed (Whole)     2263.0   3084.0   2368.0   2112.0      9827.0
Cardamom Seed (Ground)   2489.0   2760.0   2561.0   2804.0     10614.0
Cardamom Seed (Whole)    1277.0   2199.0   1618.0   2619.0      7713.0
Catnip Leaf              3447.0   1466.0   1870.0   2950.0      9733.0
Celery Seed (Whole)     24232.0  28437.0  23697.0  18124.0     94490.0
Chamomile Flowers        1770.0   2591.0   2323.0   2209.0      8893.0
East Special              400.0    751.0    985.0   1450.0      3586.0
North Special             875.0   1452.0    254.0   2451.0      5032.0
South Special            4215.0   1245.0   3562.0   2154.0     11176.0
West Special              457.0    358.0    658.0    842.0      2315.0
Total Product           78380.0  80523.0  71014.0  79323.0    309240.0